* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(252, 172, 0);
    padding: 20px;
}

.header>h2 {
    font-size: 25px;
    font-weight: 700;
    color: white;
    text-align: center;
    letter-spacing: 10px;
}